## Strings Operations

In [ ]:
# Expressions
'Michael Jackson'
"Michael Jackson"

'Michael Jackson'

In [18]:
# Digis and spaces inside a string
'1 2 3 4 5 6 7'

'1 2 3 4 5 6 7'

In [19]:
# Symbols inside a string
'#%@%#%&^$^$ ^%^$%^$'

'#%@%#%&^$^$ ^%^$%^$'

In [20]:
# print string
print('Hello, World!')

Hello, World!

In [21]:
# assign string to variable
name = 'Michael Jackson'
name

'Michael Jackson'

In [22]:
# Indexing
print(name[0])

M

In [23]:
print(name[6])

l

In [24]:
print(name[13])

o

In [25]:
# Negative Indexing
# print the last element in the string
print(name[-1])

n

In [26]:
print(name[-15])

M

In [27]:
# Find the length of a string
len(name)

15

In [28]:
# Slicing
# Obtain multiple characters from a string
name[0:4]

'Mich'

In [29]:
name[8:12]

'Jack'

In [30]:
# Stride
# Get every second element
name[::2]

'McalJcsn'

In [31]:
# Get every second element in te range from index 0 to 4n
name[0:5:2]

'Mca'

In [32]:
# Concatenate Strings
statement = name + " is the best"
statement

'Michael Jackson is the best'

In [33]:
# Print 3*string
3 * name

'Michael JacksonMichael JacksonMichael Jackson'

In [34]:
name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [35]:
# Escape Sequences
# new line
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [36]:
# tab
print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [37]:
# backslash
print("Michael Jackson \\ is the best")

Michael Jackson \ is the best

In [38]:
# display string as raw one
print(r"Michael Jackson \\ is the best")

Michael Jackson \\ is the best

In [39]:
# String Manipulation and operations
# Convert all characters to upper
a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [40]:
# Replace old substring 
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [41]:
# Find substring, only index of first is the output
a = "Michael Jackson is the best"
b = a.find('el')
# name.find('Jasdfasdasdf') if not part of the string
b

5

In [42]:
# String split
# splits the string at the specified separator and returns a list
name = "Michael Jackson"
split_string = (name.split())
split_string

['Michael', 'Jackson']

## RegEx - Regular Expression

In [43]:
# RegEx
# Regular Expression is a tool for matching and handling strings
# includes search, split, findall, sub
import re
s1 = "Michael Jackson is the best"

# Define the pattern to search for
pattern = r"Jackson"

# Search for the pattern in the string
result = re.search(pattern, s1)

# Check if a match is found
if result:
    print("Match found!")
else:
    print("Match not found.")

Match found!

| Special Sequence | Meaning | Example |
|---|---:|---|
| `\d` | Matches any digit (0–9) | `"123"` matches ``\d\d\d`` |
| `\D` | Matches any non-digit character | `"hello"` matches ``\D\D\D\D\D`` |
| `\w` | Matches any word character (a–z, A–Z, 0–9, `_`) | `"hello_world"` matches ``\w\w\w\w\w_\w\w\w\w\w`` (or `\w+`) |
| `\W` | Matches any non-word character | `"@#$%"` matches ``\W\W\W\W`` |
| `\s` | Matches any whitespace (space, tab, newline, etc.) | `"hello world"` matches ``\w+\s\w+`` |
| `\S` | Matches any non-whitespace character | `"hello_world"` matches ``\S\S\S\S\S\S\S\S\S`` |
| `\b` | Matches a word boundary (between word and non-word) | `\bcat\b` matches `"cat"` in `"The cat sat on the mat"` |
| `\B` | Matches a position that is not a word boundary | `\Bcat\B` matches `"cat"` in `"category"` but not in `"The cat sat on the mat"` |

In [44]:
# Example of using \d
import re
pattern = r"\d\d\d\d\d\d\d\d\d\d" # Matches any 10 consecutive digits
txt = "My Phone number is 1234567890."
match = re.search(pattern, txt)
if match:
    print("Phone number found:", match.group())
else:
    print("No match")

Phone number found: 1234567890

The match.group() method is used in Python's re module to retrieve the part of the string where the regular expression pattern matched. Here's a detailed explanation:

Purpose

    Extract Matched Text: match.group() returns the exact substring that matched the pattern.

Usage

    When you use functions like re.search() or re.match(), they return a match object if the pattern is found. You can then use match.group() to get the matched text.

Here match.group() retrieves the substring 1234567890 from the text, which is the part that matched the pattern.

In [45]:
# Example using \W
pattern = r"\W" # matches any non word character
txt = "Hello, World!"
matches = re.findall(pattern, txt)

print("Matches:", matches)

Matches: [',', ' ', '!']

In [46]:
# Example findall()
s2 = "Michael Jackson was a singer and known as the 'King of Pop'"

# Find 'as' occurencies in s2
result = re.findall("as", s2)

print(result)

['as', 'as']

In [47]:
# Example split()
# Split the string by the "\s"
split_array = re.split(r"\s", s2)

print(split_array)

['Michael', 'Jackson', 'was', 'a', 'singer', 'and', 'known', 'as', 'the', "'King", 'of', "Pop'"]

In [ ]:
Click here for the solution

import re

s2 = "Michael Jackson was a singer and known as the 'King of Pop'"

# Example sub() - replace all occurencies of a pattern in a string
pattern = r"King of Pop"

# Replacement
replacement = "legend"

new_string = re.sub(pattern, replacement, s2, flags=re.IGNORECASE)

print(new_string)

Michael Jackson was a singer and known as the 'legend'

In [49]:
# Print expression
a = "1"
b = "2"
c = a + b
c

'12'

In [50]:
# Print the first 3 characters
d = "ABCDEFG"
d[:3]

'ABC'

In [51]:
# Print every other character from the string (start:0, stop:None, step:2)
e = 'clocrkr1e1c1t'
e[::2]

'correct'

In [52]:
# Print backslash
print("\\\\")
print("\\\\")
print("\\")
# print(r"\")

\\
\\
\

In [ ]:
# Convert to uppercase
f = "You are wrong"
b = f.upper()
print(b)

YOU ARE WRONG

In [54]:
# Convert to lowercase
f2 = "YOU ARE LOWER"
b = f2.lower()
print(b)

you are lower

In [56]:
# Find first index of string 'snow'
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g.find("snow")

95

In [59]:
# Replace substring 'Mary' with 'Bob'
b = g.replace("Mary", "Bob")
b

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [58]:
# Replace sunstring ',', '.'
b = g.replace(',', '.')
b

'Mary had a little lamb Little lamb. little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went. Mary went Everywhere that Mary went The lamb was sure to go'

In [60]:
# Find whether the digit is present or not using the \d and search() function
s3 = "House number- 1105"
res = re.search(r"\d", s3)

if res:
    print("Digit found")
else:
    print("Digit npt found")

Digit found

In [61]:
# Replace the sub-string 'fox' with 'bear' using sub()
str1= "The quick brown fox jumps over the lazy dog."

pattern = r"fox"
rep = "bear"
new_string = re.sub(pattern, rep, str1, flags=re.IGNORECASE)
print(new_string)

The quick brown bear jumps over the lazy dog.

In [62]:
# Find all the occurencies of 'woo' using findall()
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"

s1 = re.findall("woo", str2)
s1

['woo', 'woo', 'woo', 'woo']