## Tuples

Definition: a collection used to store multiple items in a single variable
It has two main characteristics: **Ordered:** The items have a defined order, and that order will not change.
**Immutable:** Once a tuple is created, you cannot change, add, or remove items.

In [2]:
# Create a tuple
tuple1 = ("disco", 10, 1.2)
print(tuple1)
type(tuple1)

('disco', 10, 1.2)

tuple

### Indexing

Each element of a tuple can be accessed via an index. Each element can be obtained by the name of the tuple followed by a square bracket with the index number.

In [3]:
# Print the variable on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [5]:
# Print the type of value on each index
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# Use negative indexing to get value of the third element
tuple1[-1]

'disco'

In [ ]:
# Use negative indexing to get value of the second element
tuple1[-2]

10

In [9]:
# Use negative indexing to get value of the first element
tuple1[-3]

'disco'

## Concatenate Tuples

We can concatenate tuples using the + sign.

In [10]:
# Concatenate Tuples
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

## Slicing

We can slice tuples, obtaining new tuples with the corresponding elements.

In [14]:
# Slice from index 0 to 2
tuple2[0:3]

('disco', 10, 1.2)

In [13]:
# Slice from index 3 to 4
tuple2[3:5]

('hard rock', 10)

In [15]:
# Get the length of the tuple
len(tuple2)

5

## Sorting

In [ ]:
# Sorted tuple
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
RatingSorted = sorted(Ratings)
RatingSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

## Nested Tuple

In [20]:
# Create a nested tuple
NestedT = (1, 2, ("pop", "rock"), (3, 4), ("disko", (1, 2)))
NestedT

(1, 2, ('pop', 'rock'), (3, 4), ('disko', (1, 2)))

In [21]:
# Print element on each index
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disko', (1, 2))

In [22]:
# Print element on each index, including nest indexes
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disko
Element 4, 1 of Tuple:  (1, 2)

In [ ]:
# Access elements in second nested tuple using a third index
NestedT[2][1][0]

'r'

In [ ]:
# Access elements in second nested tuple using a third index
NestedT[2][1][1]

'o'

In [25]:
# Access elements in fourth nested tuple using a third index
NestedT[4][1][0]

1

In [28]:
# Access elements in fourth nested tuple using a third index
NestedT[4][1][1]

2